* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: helvetica, arial sans-serif;
    background-color: grey;
}

/* Header Styles */

header {
    padding: 30px 45px;
    background-color:tan;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

    header h1 {
        font-weight: bold;
        margin: 0;
        font-size: 3.0vw;
        color: black;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    header a {
        text-decoration: none;
        color: black;
    }

    header nav {
        margin: 7px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 2.5vw;
    }

    header nav ul li a:hover {
        color: #024e76;
        border-radius: 15px;
        text-shadow: none;
    }

/* Header Styles End */

/* Hero Styles Start */

    .hero {
        display: flex;
        background-image: url("../images/fractals-070414-2yh.jpg");
        background-size: cover;
        background-position: center;
        }

    .hero-content {
        color: white;

    }

    .hero-title {

    }
   

    .hero-img {
        border: 5px solid black;
        width: 100%;
        height: 200px;
    }


/* Hero Styles End */

/* About Me Styles Start */

#about-me {
    width: 100%;
    margin-bottom: 5px;
    border: 2px solid black;
}

    .about-me-text {

    }

    .about-me-img {
       margin-right: auto;
      }
    
/* About Me Styles End */

/* Work Styles Start */

#work {
    width: 100%;
    margin-bottom: 5px;
    border: 2px solid black;
}

/* Work Styles End */

/* Contact Me Styles Start */

#contact-me {
    width: 100%;
    margin-bottom: 5px;
    border: 2px, solid black;
}
    .contact-me nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }


/*Contact Me Styles End */